mat-card{
  width: 90%;
  alignment: center;
  margin: 2%;
}

.mat-raised-button{
  margin-left: 1rem;
  margin-right: 1rem;
}

mat-form-field{
  margin-left: 1rem;
  width: 30%;
}

table {
  width: 100%;
}


th {
  font-size: 14pt;
  color: white;
  background-color: black;
}

.highlight{
  background: #95f455;  /* #eff1f4; */
}

