<mat-card>
  <mat-card-header>
    <h3>Register</h3>
    <button mat-raised-button (click)="onAddNew()"> Add new</button>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
          #contactForm="ngForm"
          autocomplete="off">
      <mat-form-field>
        <input matInput
               name="firstName"
               formControlName="firstName"
               type="text"
               placeholder="Enter First Name">
      </mat-form-field>
      <mat-form-field>
        <input matInput
               name="lastName"
               formControlName="lastName"
               type="text"
               placeholder="Enter Last Name">
      </mat-form-field>
      <mat-accordion formArrayName="addresses">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <label>Addresses</label>
          </mat-expansion-panel-header>
          <mat-card
            *ngFor="let address of addresses.controls; let i=index"
            [formGroupName]="i">
            <mat-form-field>
              <input matInput
                     name="addressStreet"
                     formControlName="street"
                     type="text"
                     placeholder="Enter Street">
            </mat-form-field>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
      <button mat-raised-button
              color="accent"
              type="button" (click)="onSave()">Save
      </button>
    </form>
  </mat-card-content>

</mat-card>
