h3{
  width: 80%;
}
mat-form-field{
  width: 90%;
  alignment: center;
}

mat-card{
  width: 90%;
  alignment: center;
  margin: 2%;
}

.button-right {
  horiz-align: right;
}


label{
  margin-left: 1rem;
  margin-top: 1rem;
  vertical-align: center;
}

address{
  width: 90%;
}

mat-accordion{
  width: 90%;
  alignment: center;

}
