<mat-tab>

</mat-tab>
<mat-card *ngIf="contractor">
  <mat-card-header>
    <h2 >Invoices For {{contractor.companyName}}</h2>
  </mat-card-header>
  <mat-card-content>


    <mat-card>
      <mat-card-content *ngIf="contractor">

        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="invoiceDate">
            <mat-header-cell *matHeaderCellDef style="text-align:left"> Date Invoice</mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align:left">
              {{element.dateInvoice | date}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef style="text-align:left">
              Description
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align:left">
              <button mat-button (click)="onEdit(element)">{{element.description}}</button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef style="text-align:left">
              Total
            </mat-header-cell>
            <mat-cell *matCellDef="let element" style="text-align:left">
             {{element.totalAmount| currency:'USD'}}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
    <mat-dialog-actions>
      <button mat-raised-button color="accent"
              (click)="onClose()">Close
      </button>
    </mat-dialog-actions>
  </mat-card-content>
</mat-card>

